<select (change)="changeme($event)">
  <option *ngFor="let month of months; let i = index;" value="{{i+1}}">{{month}}</option>
</select>

{{monthno}}
<!-- if and else ass angular madhe write kartat only html page -->
<span *ngIf="iscondition == true then conditiontrue else conditionfalse;"></span>
<ng-template #conditiontrue>
<div>condition is True</div>
</ng-template>

<ng-template #conditionfalse>
<div>condition is False</div>
</ng-template>

<input type="number" [(ngModel)]="no"/>

<div [ngSwitch]="no">

  <div *ngSwitchCase="1">no is 1</div>
  <div *ngSwitchCase="2">no is 2</div>
  <div *ngSwitchCase="3">no is 3</div>
  <div *ngSwitchDefault>no is Default</div>
</div>


{{title | uppercase}} <br> <br>

{{title | lowercase}}

<p>{{500 | currency:"INR"}}</p>

<p>{{ today | date:"dd/MM/Y"}}</p>

<p>{{452.4579767454 | number:"5.4"}}</p>

<p>{{0.55 | percent}}</p>

<p>{{months | slice:2:5}}</p>

<p>{{25|sqrt}}</p>